.footer {
    background: #2d2d2d;

    .nav {
        padding: 50px;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }

    .nav__title {
        h3 {
            margin: 0
        }

        @include shared-title-index-footer;

    }

    .fas {
        font-size: .7em;
        width: 25px;
    }
}

.footer,
.footer .nav a {
    color: #fff;
    text-decoration: none;
}