.header {
    display: flex;
    justify-content: center;

    &__logo {
        margin: auto;

        @include mobile-only {
            line-height: 4rem;
        }

    }

    a {
        font-size: 1.5rem;
        align-self: center;
        color: initial;
        padding-left: 20px;
    }
}