body {
    margin: 0;
    animation: shader 500ms linear;
}

@keyframes shader {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

p,
h1,
h2,
h3 {
    cursor: default;
}

.items a:hover *,
.footer a:hover * {
    color: $color-tertiary;
}

main {
    width: 100%;

    h1 {
        margin: 0;
    }
}