body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.7;

    @include mobile-only() {
        font-size: 1.2em;
    }

    @include tablet-only() {
        font-size: 1.1em;
    }

    @include desktop-only() {
        font-size: 1em;
    }
}

.header__logo,
.footer .nav__title,
.menu h1 {
    font-family: 'Shrikhand', cursive;
    letter-spacing: 1px;
    font-size: 1.9em;
}

h1,
h2 {
    font-weight: 700;
    font-size: 1.4em;
    line-height: 1.2em;
}

h4 {
    font-size: 1.1em;
    color: initial;
    font-weight: 700;
}